#ifndef __APP_HPP__
#define __APP_HPP__

#define OTA_HOSTNAME "cryptoticker"
#define OTA_PASSWORD "otapass"
#define WIFI_SSID "<your wifi ssid>"
#define WIFI_PASS "<your wifi password>"

#define APP_NAME "Crypto Money Ticker"
#define APP_VERSION "2.0.0"

#endif
